{% extends 'index.html' %}

{% block body %}
<section class="content-view">
	<img class="figure" src="static/img/pre-process.png"/ >
	<h2>References</h2>
	<hr/>
	<ol>
		<li>
			M. H. I. Abdall, S. Malberg, D. Dementieva, E. Mosca, and G. Groh, “A
			Benchmark Dataset to Distinguish Human-Written and Machine-Generated
			Scientific Papers.” Information, vol. 14, no. 10, 2023.
			<a href="https://doi.org/10.3390/info14100522">https://doi.org/10.3390/info14100522</a>
		</li>
		<li>
			M. Fetzer.  “Q&A: The increasing difficulty of detecting AI- versus
			human-generated text,” Penn State. May, 2024. [Online]. Available:
			<a 
			href="https://www.psu.edu/news/information-sciences-and-technology/story/qa-increasing-difficulty-detecting-ai-versus-human">
			https://www.psu.edu/news/information-sciences-and-technology/story/qa-increasing-difficulty-detecting-ai-versus-human
			</a>
		</li>
		<li>
			D. Weber-Wulff et al., “Testing of detection tools for AI-generated text.”
			International Journal for Educational Integrity, vol. 19, no. 26, 2023. doi:
			<a href="https://doi.org/10.1007/s40979-023-00146-z">
				https://doi.org/10.1007/s40979-023-00146-z</a>
		</li>
	</ol>
</section>
{% endblock %}
